<div class="invite-user-container">
    <form action="invite" method="post" class="admin-invite-form">
        <h2 class="title-invite-user">Inviter un nouvel utilisateur</h2>
        {% block errors %}
            {% for error in errors %}
                <li class="invite-user-errors">{{ error }}</li>
            {% endfor %}
        {% endblock %}

        <p class="label-form-email">Veuillez renseigner l'adresse email de la personne que
            vous
            souhaitez inviter</p>
        <div class="input-container login-email-container">
            <input id="invited-email" name="invited-email" class="input-invite" type="email" placeholder=" " required/>
            <div class="cut"></div>
            <label for="invited-email" class="invite-placeholder">Email</label>
        </div>

        {% block invitation_success %}
            {% if email %}
                <p class="invite-success-message">L'invitation a bien été envoyé à l'adresse
                    <br>
                    <span>{{ email }}</span></sp>
                    <br>
                    Un nouvel arrivant est en route !
                </p>
            {% endif %}
        {% endblock %}
        <button class="cta">
            <span>Envoyer l'invitation</span>
            <svg width="13px" height="10px" viewBox="0 0 13 10">
                <path d="M1,5 L11,5"></path>
                <polyline points="8 1 12 5 8 9"></polyline>
            </svg>
        </button>
    </form>
</div>
