{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/delete.css">
    <link rel="stylesheet" href="/assets/css/style.css">
{% endblock %}
{% block content %}
    <div class="delete-container deleteUser">
        <h2 class="title-deleteUSer">Supprimer une demande</h2>
        <p class="label-delete"> Vous pourrez visionner l'ensemble des demandes non acceptées et supprimer celles que vous souhaitez</p>
        <button class="cta">
            <span><a href="deleteCall" class="deleteCallLink">Voir les demandes</a></span>
            <svg width="13px" height="10px" viewBox="0 0 13 10">
                <path d="M1,5 L11,5"></path>
                <polyline points="8 1 12 5 8 9"></polyline>
            </svg>
        </button>
    </div>
{% endblock %}
