{% extends 'layout.html.twig' %}

{% block title %}Ajout Demande{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/styleaddDemand.css">
{% endblock %}

{% block header %}
    {% include 'userHeader.html.twig' %}
    {% include 'userHeaderDesktop.html.twig' %}
{% endblock %}

{% block content %}

    <div class="user-connection-errors">
        {% for error in errors %}
            <li>{{ error }}</li>
        {% endfor %}
    </div>

    <body>
    <section class="addDemand">
        <h2 class="addDemandtitle">Nouvelle Demande</h2>
        <form action="" method="post">
            <div class="form-container">
                <div class="startDate-container">
                    <label class="startDate" for="startDate">Du </label><br>
                    <input type="datetime-local" id="startDate" name="startDate" required>
                </div>
                <div class="endDate-container">
                    <label class="endDate" for="endDate">Au </label><br>
                    <input type="datetime-local" id="endDate" name="endDate" required>
                </div>
                <div class="context-container">
                    <label class="add-context" for="context">Contexte</label><br>
                    <select name="context" id="context" required>
                        <option value="" selected>Votre Choix</option>
                        <option value="Sortie d'école">Sortie d'école</option>
                        <option value="Activité extra-scolaire">Activité extra-scolaire</option>
                        <option value="Absence parents">Absence parents</option>
                        <option value="Rendez-vous">Rendez-vous</option>
                    </select>

                </div>
                <div class="comment-container">
                    <label class="comment" for="comment">Commentaires</label><br>
                    <textarea name="comment" id="comment" cols="23" rows="5" required></textarea>
                </div>

            </div>
            <div class="add-demand-submit-btn">
                <button type="submit" class="login-button" id="submit">Ajouter</button>
            </div>

        </form>
    </section>
    </body>
{% endblock %}
