<div class="accordion">
    <h2 class="faq-title">F.A.Q</h2>
    <div class="contentbox">
        <div class="question">Quelles sont les pré-requis pour NounouEntreNous ?</div>
        <div class="réponse">
            <br>
            <p>
                -Avoir plus de 18 ans et être parent.
                <br>
                -Et bien-sûr avoir l’esprit NounouEntreNous!
            </p>
        </div>
    </div>
    <div class="contentbox">
        <div class="question"> NounouEntreNous, garde ponctuelle ou régulière ?
        </div>
        <div class="réponse">
            <br>
            <p>
                Sur NounouEntreNous, vous trouverez des profils très variés de parents, et autour de chez vous.
                Par exemple, un parent, pourrait garder vos enfants à votre domicile, tout en les aidant à faire leur
                devoir.
                Qu’il s’agisse d’échange entre parents (ou sharing) ou encore d’une aide ponctuelle, l’entraide entre
                parents n’a jamais été aussi conviviale.
            </p>
        </div>
    </div>
    <div class="contentbox">
        <div class="question">Comment sont sélectionnés les gardants(Parents) ?</div>
        <div class="réponse">
            <br>
            <p>
                En étant un reseau social privé, NounouEntreNous privilégie la sélection de ses gardants par
                 circuit court. C'est-à-dire de bouche à oreille entre des personnes qui se côtoient ou se connaissent.
                L'administrateur d'un groupe, ou kangooteam, envoie une invitation au parent qui désire intégrer le réseau.

            </p>
        </div>
    </div>
    <div class="contentbox">
        <div class="question">Existe-t-il un système de rémunération ?</div>
        <div class="réponse">
            <br>
            <p>
                Avec NounouEntreNous la rémunération se base sur un système de bonification pour les
                parents.En effet, l'administrateur d'un groupe a la possibilité de voir l'activité de chaque membre sur
                le mois en cours ou le mois précédent, et le groupe peut décider de récompenser un de ses membres comme
                il le souhaite.
            </p>
        </div>
    </div>
</div>
