{% extends 'layout.html.twig' %}
<<<<<<< HEAD
{% block stylesheet %}<link rel="stylesheet" href="/../assets/css/userConnection.css">{% endblock %}
{% block content %}
{% include 'Home/userConnection.html.twig' %}
{% endblock %}
=======


       {% block content %}
           <h1>Hello Wilder !</h1>
           <p>Find a complete CRUD example on <a href="/items">/items</a> page.</p>
       {% endblock %}
>>>>>>> e9eb232d317cded1285e211f6a5712173548ffc1
