<div class="login-form-body">
    <div class="login-form">
        <div class="login-title">Se connecter</div>
        {% block errors %}
            <div class="user-connection-errors">
                {% for error in errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </div>
        {% endblock %}
        <form action="userConnection" method="post">
            <div class="input-container login-email-container">
                <input id="email" name="email" class="login-input" type="text" placeholder=" " required/>
                <div class="cut"></div>
                <label for="email" class="placeholder">Email</label>
            </div>
            <div class="input-container login-password-container">
                <input id="password" name="password" class="login-input" type="password" placeholder=" " required/>
                <div class="cut cut-short"></div>
                <label for="password" class="placeholder">Mot de passe</label>
            </div>
            <div class="forgotPassword">
                <a href="resetPassword">Mot de passe oublié</a>
            </div>
            <button class="connection-submit-button">
                <span>Se connecter</span>
                <svg width="13px" height="10px" viewBox="0 0 13 10">
                    <path d="M1,5 L11,5"></path>
                    <polyline points="8 1 12 5 8 9"></polyline>
                </svg>
            </button>
        </form>
    </div>
</div>
