.user-view-container {
    width:95vw;
    margin:auto;
    background-color: var(--bleuVert);
    border-radius: 10px;
    box-shadow: 1px 1px 5px gray;
}
.toggle {
    cursor: pointer;
    display: inline-block;
}
.toggle-label {
    font-family: var(--fontText);

}
.toggle-switch {
    display: inline-block;
    background: #ccc;
    border-radius: 16px;
    width: 58px;
    height: 32px;
    position: relative;
    vertical-align: middle;
    transition: background 0.25s;
}
.toggle-switch:before, .toggle-switch:after {
    content: "";
}
.toggle-switch:before {
    display: block;
    background: linear-gradient(to bottom, #fff 0%, #eee 100%);
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
    width: 24px;
    height: 24px;
    position: absolute;
    top: 4px;
    left: 4px;
    transition: left 0.25s;
}
.toggle:hover .toggle-switch:before {
    background: linear-gradient(to bottom, #fff 0%, #fff 100%);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
}
.toggle-checkbox:checked + .toggle-switch {
    background: var(--bleu)
}
.toggle-checkbox:checked + .toggle-switch:before {
    left: 30px;
}

.toggle-checkbox {
    position: absolute;
    visibility: hidden;
}

.toggle-label {
    margin-left: 5px;
    position: relative;
    top: 2px;
}

.titleUserView {
    font-family: var(--fontTitle);
    font-size: clamp(20px, 2em, 2.8vw);
    display: flex;
    justify-content: center;
    padding: 20px 0;
}
.titlePeriod {
    font-size: clamp(20px, 1.8em, 2.8vw);
    font-family: var(--fontTitle);
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.userViewGeneral {
    display: flex;
    justify-content: space-around;

}

.userView {

    border-radius: 10px;
    margin-top:30px;
    margin-bottom:10px;
    font-family: var(--fontText);
    background-color: var(--bleu);
    padding-bottom: 10px;
    height: 330px;
    overflow: scroll;
    width:90%;
    box-shadow: 1px 1px 5px gray;
}
.userView-container {
    display:flex;
    justify-content:center;
    background-color: var(--bleuVert);
    border-radius: 5px;
    align-items:center;
    gap:32px;
    margin:auto;
    margin-bottom: 8px;
    padding: 10px;
    width:90%;

}
.userView-infos {
    display: flex;
    flex-direction: column;
    gap:8px;
    align-items:center;
}
.activities{
    text-decoration: underline;
}
.avatarUser {
    width: 10vw;
    height: 10vw;
}

#previous {
    display: none;
}
