.acceptCall {
    background-color: var(--bleuVert);
    display: grid;
    justify-content: center;
    margin: auto;
    margin-bottom: 8px;
    border-radius: 10px;
    width: 95vw;
}

.buttonAcceptCall {
    background-color: var(--bleu);
    border: 0 solid #E5E7EB;
    box-sizing: border-box;
    color: #000000;
    display: flex;
    font-family: var(--fontText);
    font-size: 1rem;
    font-weight: 700;
    justify-content: center;
    line-height: 1.75rem;
    padding: .75rem 1.65rem;
    position: relative;
    text-align: center;
    text-decoration: none #000000 solid;
    text-decoration-thickness: auto;
    width: 100%;
    max-width: 260px;
    max-height: 60px;
    position: relative;
    cursor: pointer;
    transform: rotate(-2deg);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.buttonAcceptCall:focus {
    outline: 0;
}

.buttonAcceptCall:after {
    content: '';
    position: absolute;
    border: 1px solid #000000;
    bottom: 4px;
    left: 4px;
    width: calc(100% - 1px);
    height: calc(100% - 1px);
}
.buttonAcceptCall:hover{
    color: black;
}

.buttonAcceptCall:hover:after {

    bottom: 2px;
    left: 2px;
}
