.modify-user-profile-errors {
    list-style: none;
    text-align: center;
    color: red;
    font-weight: bold;
    font-family: var(--fontText);
    padding: 8px;
}

.profile-title {
    text-align: center;
    margin: 16px;
    font-size: 35px;
    font-family: var(--fontTitle);
}

.profile-line {
    width: 100%;
    border: 1px solid var(--bleu);
}

.profile-line-kid {
    margin-left: 80px;
    margin-right: 80px;
    border: 1px solid var(--bleu);
}

.profile-body {
    background-color: var(--bleuVert);
    margin-left: auto;
    margin-right: auto;
    width: 90vw;
    border-radius: 10px;
}

.modify-infos-kid {
    margin-left: 22px;
    margin-bottom: 0;
    margin-top: 8px;
}

.modify-form-title {
    font-family: var(--fontTitle);
    padding-bottom: 10px;
    margin-top: 20px;
    margin-left: 20px;
}

.modify-input {
    border: 1px black solid;
    border-radius: 5px;
}

.form-userInscription {
    display: grid;
    margin: 10px;
}

.modify-form {
    background-color: var(--bleuVert);
    font-family: var(--fontText);
    border-radius: 10px;
}

.profile-important-info {
    font-weight: bolder;
    color: black;
    overflow-wrap: break-word;
}

.form-userInscription-submit {
    padding: 20px;
}

#submitUserInscription {
    background-color: var(--bleu);
    border: 0 solid #E5E7EB;
    box-sizing: border-box;
    color: #000000;
    display: flex;
    font-family: var(--fontText);
    font-size: 1rem;
    font-weight: 700;
    justify-content: center;
    line-height: 1.75rem;
    padding: .75rem 1.65rem;
    position: relative;
    text-align: center;
    text-decoration: none #000000 solid;
    text-decoration-thickness: auto;
    width: 100%;
    max-width: 260px;
    position: relative;
    cursor: pointer;
    transform: rotate(-2deg);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

#submitUserInscription:focus {
    outline: 0;
}

#submitUserInscription:after {
    content: '';
    position: absolute;
    border: 1px solid #000000;
    bottom: 4px;
    left: 4px;
    width: calc(100% - 1px);
    height: calc(100% - 1px);
}

#submitUserInscription:hover:after {
    bottom: 2px;
    left: 2px;
}
