.modify-form-errors {
    list-style: none;
    text-align: center;
    color: red;
    font-weight: bold;
    font-family: var(--fontText);
    padding: 8px;
}

.modify-profile-title {
    padding: 8px;
    font-family: var(--fontTitle);
    font-size: clamp(20px, 2em, 2.8vw);
    align-items: center;
    text-align: center;
    margin: 0;
}

.modify-form {
    font-family: var(--fontText);
    width: 95%;
    margin: auto;
    align-items: center;
    text-align: center;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    height:216px;
}

#submitUserInscription {
    background-color: var(--bleu);
    border: 0 solid #E5E7EB;
    box-sizing: border-box;
    color: #000000;
    display: flex;
    font-family: var(--fontText);
    font-size: 1rem;
    font-weight: 700;
    justify-content: center;
    line-height: 1.75rem;
    padding: .75rem 1.65rem;
    position: relative;
    text-align: center;
    text-decoration: none #000000 solid;
    text-decoration-thickness: auto;
    width: 100%;
    max-width: 260px;
    position: relative;
    cursor: pointer;
    transform: rotate(-2deg);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

#submitUserInscription:focus {
    outline: 0;
}

#submitUserInscription:after {
    content: '';
    position: absolute;
    border: 1px solid #000000;
    bottom: 4px;
    left: 4px;
    width: calc(100% - 1px);
    height: calc(100% - 1px);
}

#submitUserInscription:hover:after {
    bottom: 2px;
    left: 2px;
}
