.modify-form-errors {
    list-style: none;
    text-align: center;
    color: red;
    font-weight: bold;
    font-family: var(--fontText);
    padding: 8px;
}

.modify-infos-kid {
    text-align: left;
}

.profile-important-info {
    font-weight: bolder;
    color: black;
}

.modify-profile-title {
    padding: 8px;
    font-family: var(--fontTitle);
    font-size: clamp(20px, 2em, 2.8vw);
    align-items: center;
    text-align: center;
    margin: 0;
}

.modify-form {
    font-family: var(--fontText);
    width: 95%;
    margin: auto;
    align-items: center;
    gap: 20px;
    text-align: center;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.modify-form-top {
    margin-top: 5vw;
}
.profile-container {
    background-color: var(--bleuVert);
    border-radius: 10px;
    box-shadow: 1px 1px 5px gray;
    width: 95vw;
    margin: auto auto 8px;
    height: 450px;
}

.profile-container-login {
    background-color: var(--bleuVert);
    border-radius: 10px;
    box-shadow: 1px 1px 5px gray;
    width: 95vw;
    margin: auto auto 8px;
    height: 340px;
}

.profile-container-kid {
    background-color: var(--bleuVert);
    border-radius: 10px;
    box-shadow: 1px 1px 5px gray;
    width: 95vw;
    margin: auto auto 8px;
    max-height: 510px;
}

.input-container {
    height: 50px;
    position: relative;
    max-width: 700px;
    width: 100%;
}

.input-delete {
    background-color: var(--bleu);
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: white;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 15px;
    max-width: 700px;
    width: 100% ;
}

.cut {
    background-color: var(--bleuVert);
    border-radius: 10px;
    height: 20px;
    left: 20px;
    position: absolute;
    top: -20px;
    transform: translateY(0);
    transition: transform 200ms;
    width: 74px;
}

.input-delete:focus ~ .cut,
.input-delete:not(:placeholder-shown) ~ .cut {
    transform: translateY(10px);

}

.cut-small {
    background-color: var(--bleuVert);
    border-radius: 10px;
    height: 20px;
    left: 20px;
    position: absolute;
    top: -20px;
    transform: translateY(0);
    transition: transform 200ms;
    width: 55px;
}

.input-delete:focus ~ .cut-small,
.input-delete:not(:placeholder-shown) ~ .cut-small {
    transform: translateY(10px);

}

.cut-large {
    background-color: var(--bleuVert);
    border-radius: 10px;
    height: 20px;
    left: 20px;
    position: absolute;
    top: -20px;
    transform: translateY(0);
    transition: transform 200ms;
    width: 105px;
}

.input-delete:focus ~ .cut-large,
.input-delete:not(:placeholder-shown) ~ .cut-large {
    transform: translateY(10px);

}

.cut-extra-large {
    background-color: var(--bleuVert);
    border-radius: 10px;
    height: 20px;
    left: 20px;
    position: absolute;
    top: -20px;
    transform: translateY(0);
    transition: transform 200ms;
    width: 205px;
}

.input-delete:focus ~ .cut-extra-large,
.input-delete:not(:placeholder-shown) ~ .cut-extra-large {
    transform: translateY(10px);

}

.placeholder {
    color: var(--bleuVert);
    font-family: var(--fontText);
    left: 20px;
    line-height: 14px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 20px;
}

.input-delete:focus ~ .placeholder,
.input-delete:not(:placeholder-shown) ~ .placeholder {
    transform: translateY(-25px) translateX(10px) scale(0.75);
}

.input-delete:not(:placeholder-shown) ~ .placeholder {
    color: var(--bleu);
}

.input-delete:focus ~ .placeholder {
    color: var(--bleu);
}

#submitUserInscription {
    background-color: var(--bleu);
    border: 0 solid #E5E7EB;
    box-sizing: border-box;
    color: #000000;
    display: flex;
    font-family: var(--fontText);
    font-size: 1rem;
    font-weight: 700;
    justify-content: center;
    line-height: 1.75rem;
    padding: .75rem 1.65rem;
    position: relative;
    text-align: center;
    text-decoration: none #000000 solid;
    text-decoration-thickness: auto;
    width: 100%;
    max-width: 260px;
    position: relative;
    cursor: pointer;
    transform: rotate(-2deg);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

#submitUserInscription:focus {
    outline: 0;
}

#submitUserInscription:after {
    content: '';
    position: absolute;
    border: 1px solid #000000;
    bottom: 4px;
    left: 4px;
    width: calc(100% - 1px);
    height: calc(100% - 1px);
}

#submitUserInscription:hover:after {
    bottom: 2px;
    left: 2px;
}
