.titleUAD{
    font-family: var(--fontTitle);
    font-size: 30px;
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.unacceptedDemand {
    background-image:url("../images/planning-background-salmon.png");
    border-radius: 10px;
    margin: auto;
    margin-bottom: 8px;
    font-family: var(--fontText);
    padding-bottom: 10px;
    height : 330px;
    overflow: scroll;
    width: 95vw;
}
.article {
    background-color: var(--saumon);
    margin: 10px;
    padding: 20px;
    border-radius: 5px;
}
.importantInfo {
    font-weight: bolder;
    color: white
}
