.titleUAD{
    font-family: var(--fontTitle);
    font-size: 30px;
    text-align: center;
    padding: 10px;

}

.unacceptedDemand {
    background-image:url("../images/skulls.png");
    background-color: var(--saumonPastel);
    border-radius: 20px;
    margin: auto;
    margin-bottom: 8px;
    font-family: var(--fontText);
    padding-bottom: 10px;
    width: 95vw;
}
.scroll-container {
    overflow-y: scroll;
    max-height : 300px;
}
/* width */
.scroll-container::-webkit-scrollbar {
    width: 8px;
}

/* Track */
.scroll-container::-webkit-scrollbar-track {
    background: var(--saumonPastel);
}

/* Handle */
.scroll-container::-webkit-scrollbar-thumb {
    background: var(--saumon);
    border-radius: 10px;
}

/* Handle on hover */
.scroll-container::-webkit-scrollbar-thumb:hover {
    background: var(--smallButtonColor);
}

.article {
    background-color: var(--saumon);
    margin-right: 10px;
    margin-left:10px;
    margin-bottom:10px;
    padding: 20px;
    border-radius: 5px;
}
.importantInfo {
    font-weight: bolder;
    color: white
}
