@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Fuzzy+Bubbles&family=Gochi+Hand&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --fontTitleSite: 'Bubblegum Sans', cursive;
    --fontTitle: 'Gochi Hand', cursive;
    --fontText: 'Fuzzy Bubbles', cursive;
    --rosePastel: #FAD7D4;
    --saumon: #FAA07D;
    --bleuVert:#C7EBDD;
    --bleu:#83E1E6;
    --saumonPastel:#FFE3C7;
    --smallButtonColor:#9D5438;
}
