.mobile-header-container {
  margin-bottom: 64px;
  position: relative;
  height: 315px;
  background-color: var(--bleuVert);
}

.user-logout-link {
  position: absolute;
  top: 2%;
  right: 1vw;
  background-color: var(--bleuVert);
}

.user-logout-img {
  height: 50px;
  width: 50px;
}
.user-logout-img:active {
  scale: 0.8;
}

.user-avatar {
  height: 220px;
  width: 220px;
  display: inline;
}

.avatar-container {
  position: relative;
  background-color: var(--bleu);
  box-shadow: 1px 1px 3px black;
  border-radius: 130px;
  width: 260px;
  height: 260px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.line {
  width: 100%;
  border: 1px solid var(--smallButtonColor);
  position: absolute;
  top: 50%;
}

.user-firstname, .user-lastname {
  position: absolute;
  background-color: var(--bleu);
  box-shadow: 1px 1px 3px black;
  color: var(--smallButtonColor);
  font-family: var(--fontTitle);
  font-size: clamp(20px, 1.5em, 1.8vw);
  border-radius: 20px;
  padding-left: 8px;
  padding-right: 8px;
  width: 30vw;
  max-width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  top: 94%;
}

.user-firstname {
  right: 70%;
}

.user-lastname {
  left: 70%;
}

.img-gestion-link {
  height: 50px;
  width: 50px;
  border-radius: 50px;
}
.img-gestion-link:hover {
  animation: gearRotation 3s linear infinite;
}
.img-gestion-link:active {
  scale: 0.8;
}

.user-gestion-link {
  display: block;
  margin: auto;
  width: 50px;
}

.menu-burger-container {
  position: absolute;
  left: 2vw;
  top: 4%;
}

.menu-line1 {
  width: 30px;
  height: 3px;
  background-color: var(--smallButtonColor);
  display: block;
  border-radius: 20px;
  margin-bottom: 6px;
  transition: all 1s;
}

.menu-line2 {
  width: 30px;
  height: 3px;
  background-color: var(--smallButtonColor);
  display: block;
  border-radius: 20px;
  margin-bottom: 6px;
  transition: all 1s;
}

.menu-line3 {
  width: 30px;
  height: 3px;
  background-color: var(--smallButtonColor);
  display: block;
  border-radius: 20px;
  margin-bottom: 6px;
  transition: all 1s;
}

.menu-line2 {
  transition: all 0.4s;
}

#menu-btn {
  display: block;
  position: relative;
  text-align: center;
}
#menu-btn:hover {
  cursor: pointer;
}

#menu-list {
  background-color: var(--saumonPastel);
  z-index: 10;
  width: 350px;
  border-radius: 20px;
  box-shadow: 1px 1px 3px gray;
  position: fixed;
  left: -370px;
  transition: left 0.8s cubic-bezier(1, 0, 0, 1);
}
#menu-list a {
  text-decoration: none;
  color: var(--smallButtonColor);
  margin-left: 16px;
}

.menu-checkbox:checked ~ #menu-list {
  left: 2em;
}

.menu-checkbox:checked ~ .menu-btn-container .menu-line1 {
  transform: rotate(-405deg) translate(-5px, 6px) scale(0.8);
  width: 2.5rem;
}

.menu-checkbox:checked ~ .menu-btn-container .menu-line2 {
  opacity: 0;
}

.menu-checkbox:checked ~ .menu-btn-container .menu-line3 {
  transform: rotate(405deg) translate(-6px, -9px) scale(0.8);
  width: 2.5rem;
}

@keyframes gearRotation {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes topBar_open {
  0% {
    transform: translateY(0px) rotate(0deg);
    width: 30px;
  }
  10% {
    transform: translateY(-8px) rotate(0deg);
    width: 30px;
  }
  50% {
    transform: translateY(20px) rotate(45deg);
    width: 30px;
  }
  75% {
    transform: translateY(4px) rotate(45deg);
    width: 30px;
  }
  100% {
    transform: translateY(8px) rotate(45deg);
    width: 30px;
  }
}
@keyframes middleBar_open {
  0% {
    transform: translateY(0px) rotate(0deg);
    width: 30px;
  }
  10% {
    transform: translateY(-8px) rotate(0deg);
    width: 30px;
  }
  60% {
    transform: translateY(0px) rotate(-45deg);
    width: 30px;
  }
  75% {
    transform: translateY(-12px) rotate(-45deg);
    width: 30px;
  }
  100% {
    transform: translateY(-8px) rotate(-45deg);
    width: 30px;
  }
}
@keyframes bottomBar_open {
  0% {
    transform: translateY(0px);
    opacity: 1;
  }
  25% {
    transform: translateY(-18px);
    opacity: 1;
  }
  45% {
    transform: translateY(44px);
    opacity: 0.66;
  }
  48% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(30px);
    opacity: 0;
  }
}
@keyframes menuItems_open {
  50% {
    line-height: 0;
    opacity: 0;
  }
  51% {
    line-height: 4px;
    opacity: 0.3;
  }
  55% {
    line-height: 8px;
    opacity: 0.5;
  }
  59% {
    line-height: 16px;
    opacity: 0.75;
  }
  63% {
    line-height: 32px;
    opacity: 1;
  }
  100% {
    line-height: 32px;
    opacity: 1;
  }
}
@keyframes topBar_close {
  0% {
    transform: translateY(8px) rotate(45deg);
    width: 50px;
  }
  35% {
    transform: translateY(-8px) rotate(-4deg);
    width: 35px;
  }
  53% {
    transform: translateY(10px) rotate(3deg);
    width: 35px;
  }
  70% {
    transform: translateY(-6px) rotate(0deg);
    width: 35px;
  }
  100% {
    transform: translateY(-2px) rotate(0deg);
    width: 35px;
  }
}
@keyframes bottomBar_close {
  0% {
    transform: translateY(-8px) rotate(-45deg);
    width: 50px;
  }
  35% {
    transform: translateY(-18px) rotate(6deg);
    width: 35px;
  }
  53% {
    transform: translateY(0px) rotate(-3deg);
    width: 35px;
  }
  68% {
    transform: translateY(-7px) rotate(0deg);
    width: 35px;
  }
  100% {
    transform: translateY(0px) rotate(0deg);
    width: 35px;
  }
}
@keyframes middleBar_close {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  5% {
    transform: translateY(25px);
    opacity: 1;
  }
  25% {
    transform: translateY(-30px);
    opacity: 1;
  }
  37% {
    transform: translateY(-22px);
    opacity: 1;
  }
  45% {
    transform: translateY(-22px);
    opacity: 1;
  }
  58% {
    transform: translateY(8px) rotate(-10deg);
    opacity: 1;
  }
  83% {
    transform: translateY(-6px) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes menuItems_close {
  0% {
    line-height: 32px;
    opacity: 1;
  }
  25% {
    line-height: 0px;
    opacity: 0;
  }
  100% {
    line-height: 0px;
    opacity: 0;
  }
}
@media screen and (min-width: 1024px) {
  .mobile-header-container {
    display: none;
  }
}

/*# sourceMappingURL=userHeader.css.map */
