.day-block, .demand-block  {
    background-color: gray;
    margin-bottom: 16px;
    &.helper {
        background-color: var(--bleuVert);
    }
    &.helped {
        background-color: var(--saumonPastel);
        &.helper {
            background-color: var(--rosePastel);
        }
    }
}
.user-planning {
    background-color: var(--bleu);
    padding-top:16px;
}
.day-block {
    margin:auto;
    border-radius:20px;
    box-shadow:1px 1px 3px gray;
    margin-bottom:16px;
    padding:8px;
    .demand-text {
        line-height:16px;
    }
}
.demand-block {
    margin:auto;
    text-align:justify;
}
