.day-block, .demand-block  {
    background-color: gray;
    &.helper {
        background-color: var(--bleuVert);
    }
    &.helped {
        background-color: var(--saumonPastel);
        &.helper {
            background-color: var(--rosePastel);
        }
    }
}
.user-planning {
    background-color: var(--bleu);
    padding-top:16px;
}
.day-block {
    margin:auto;
    border-radius:30px;
    box-shadow:1px 1px 3px gray;
    display:flex;
    align-items:center;
    justify-content: space-around;
    width:80%;
    .demand-text {
        line-height:16px;
    }
    //.plus-buttons {
    //
    //}
}
.demand-block {
    margin:auto;
    text-align:justify;
    width:60%;
    padding:16px;
    box-shadow:1px 1px gray;
    .show-block {
        background-color: black;
    }
}
.planning-container {
    background-color: var(--bleu);
    width:95%;
    padding:16px;
}
.block-container {
        margin-bottom:16px;
    .demand-block:last-child {
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;

    }
}
