
{% extends 'layout.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/delete.css"> 
       <link rel="stylesheet" href="/assets/css/style.css"> 

       {% endblock %}



{% block content %}

<html>

    <head><title>Supprimer un utilisateur</title></head>
    <body>
        
       <div class="container">
       <div class = "form">
       <br>
       <br>
       <br>
    
       <center>
        <h1>Supprimer un utilisateur</h1>
    </center>
       
        <form action='delete' method='post'>
            <center>
            <div class= "deleteformerror">
        {% for messages in message %} 
            <li>{{ messages }}</li>
        {% endfor %}
        </div>
            <label for= "email"> Email: </label>
            <input type='email' id= 'email' name='email'>
            
            <br>
           </center>
           
<br>

           <center>
         
           <button type= 'submit' > Supprimer </button>

           
            </center>
       
        </form>
        </div>
        </div>

       
    </body>
</html>


{% endblock %}
       










