{% extends 'layout.html.twig' %}
{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/userPage.css">
{% endblock %}

{% block title %}Accueil{% endblock %}

{% block header %}
    {% include 'userHeader.html.twig' %}
    {% include 'userHeaderDesktop.html.twig' %}
{% endblock %}

{% block content %}
    {% include 'UserPage/userPlanning.html.twig' %}
    {% include 'UserPage/userUnacceptedDemand.html.twig' %}
    <div class="blockAddDemand">
        <section class="sectionAddDemand">
            <div class="addDemand">
                <h2 class="titleAddDemand">Besoin d'un Kangourou ?</h2>
                <a href="/addDemand" class="buttonAddDemand">Ajouter une Demande</a>
            </div>
        </section>
        <section class="sectionAddDemand">
            <div class="acceptCall">
                <h2 class="titleAddDemand">Aider un Kangourou ?</h2>
                <a href="/userCalls" class="buttonAcceptCall">Accepter une demande</a>
            </div>
        </section>
    </div>
    {% include 'UserPage/userSlider.html.twig' %}
    {% include 'UserPage/activitiesBordeaux.html.twig' %}
{% endblock %}
{% block javascript %}
{{ parent }}
 <script src="/assets/js/userPlanning.js"></script>
{% endblock %}
