{% extends 'layout.html.twig' %}
{% block title %}Mot de Passe Oublié{% endblock %}
{% block stylesheet %}<link rel="stylesheet" href="/assets/css/resetForm.css">{% endblock %}

{% block content %}
    <form action="" method="post" class="resetForm">
        <label for="email" id="email" name="email">Votre Email</label>
        <input type="email" id="email" name="email" class="emailInput">
        <button type="submit" class="emailButton">Réinitialiser mon mot de passe !</button>
    </form>
{% endblock %}
