{% extends 'layout.html.twig' %}

{% block title %}Inscription Utilisateur{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/styleUserInscription.css">
    <link rel="stylesheet" href="/assets/css/styleHome.css">
{% endblock %}

{% block content %}
    <body class="container">
    <header>
        <h1 class="ml6">
                   <span class="text-wrapper">
                        <span class="letters">Nounou Entre Nous</span>

                   </span>
        </h1>
    </header>
    <div class="parallax"></div>
    <div class="user-connection-errors">
        {% for error in errors %}
            <li>{{ error }}</li>
        {% endfor %}
    </div>
    <form id="inscription-form" action="" method="post" name="monFormulaire">
        <div class="block-userInscription">
            <div class="form-userInscription">
                <h2 class="title-inscription-bloc">Mon Compte</h2>
                <label for="emailUserInscription">{{ GET['email'] }}</label>
                <label for="activationCode">Code Activation : {{ GET['code'] }}</label>
            </div>
            <div class="form-userInscription">
                <input class="input-inscription" type="password" id="password" name="password" placeholder=" " required>
                <div class="cut"></div>
                <label class="placeholder" for="password">Mot de passe </label>
            </div>
            <div class="form-userInscription">
                <input class="input-inscription" type="password" id="password2" name="password2" placeholder=" "
                       required>
                <div class="cut-large"></div>
                <label class="placeholder" for="password2">Confirmez votre mot de passe </label>
            </div>
        </div>
        <div class="block-userInscription">
            <h2 class="title-inscription-bloc">Informations Personnelles</h2>
            <div class="form-userInscription">
                <input class="input-inscription" type="text" id="firstname" name="firstname" placeholder=" " required
                       pattern="[a-zA-Z0-9]+">
                <div class="cut-short"></div>
                <label class="placeholder" for="firstname">Prénom</label>
            </div>
            <div class="form-userInscription">
                <input class="input-inscription" type="text" id="lastname" name="lastname" placeholder=" " required
                       pattern="[a-zA-Z0-9]+">
                <div class="cut-extra-short"></div>
                <label class="placeholder" for="lastname">Nom</label>
            </div>
            <div class="form-userInscription">
                <input class="input-inscription" type="text" id="telephone" name="telephone" placeholder=" " required
                       pattern="[0-9]+">
                <div class="cut-medium"></div>
                <label class="placeholder" for="telephone">N° de téléphone</label>
            </div>
            <div class="form-userInscription">

                <textarea class="input-inscription" id="address" name="address" rows="3" placeholder=" "
                          required></textarea>
                <div class="cut-medium"></div>
                <label class="placeholder" for="address">Votre adresse</label>
            </div>
        </div>
        <div class="block-userInscription-kids">
            <h2 class="title-inscription-bloc">Mes Joeys</h2>
            <div class="form-userInscription">
                <input class="input-inscription" type="text" id="firstnameKid" name="firstnameKid" placeholder=" "
                       required>
                <div class="cut-short"></div>
                <label class="placeholder" for="firstnameKid">Prénom</label>
            </div>
            <div class="form-userInscription">
                <label class="birth-date-inscription" for="birthdayKid">Né(e) le</label>
                <input class="input-inscription" type="date" id="birthdayKid" name="birthdayKid" required
                       pattern="(0[1-9]|1[0-9]|2[0-9]|3[01]).(0[1-9]|1[012]).[0-9]{4}">
            </div>
            <div class="form-userInscription">
                <textarea class="input-inscription" id="commentKid" name="commentKid" rows="3" placeholder=" "
                          required></textarea>
                <div class="cut-large"></div>
                <label class="placeholder" for="commentKid">Allergies / Choses à savoir</label>
            </div>


            <div class="form-userInscription">
                <img onclick="afficherMasquer('Kid2')" src="assets/images/icons8-plus-100.png" alt="Plus">
            </div>


            <div id="Kid2" style="display: none">
                <h2 class="title-inscription-bloc">Second Joey</h2>
                <div class="form-userInscription">
                    <input class="input-inscription" type="text" id="firstnameKid" name="firstnameKid2"
                           placeholder=" ">
                    <div class="cut-short"></div>
                    <label class="placeholder" class="birth-date-inscription" for="firstnameKid2">Prénom</label>
                </div>
                <div class="form-userInscription">
                    <label for="birthdayKid2">Né(e) le</label>
                    <input class="input-inscription" type="date" id="birthdayKid" name="birthdayKid2"
                           placeholder=" "
                           pattern="(0[1-9]|1[0-9]|2[0-9]|3[01]).(0[1-9]|1[012]).[0-9]{4}">
                </div>
                <div class="form-userInscription">
                        <textarea class="input-inscription" id="commentKid2" name="commentKid2" placeholder=" "
                                  rows="3"></textarea>
                    <div class="cut-large"></div>
                    <label class="placeholder" for="commentKid2">Allergies / Choses à savoir :</label>
                </div>


                <div class="form-userInscription">
                    <img onclick="afficherMasquer('Kid3')" src="assets/images/icons8-plus-100.png" alt="Plus">
                </div>

            </div>
            <div id="Kid3" style="display: none">
                    <h2 class="title-inscription-bloc">Troisième Joey</h2>
                    <div class="form-userInscription">
                        <input class="input-inscription" type="text" id="firstnameKid" name="firstnameKid3"
                               placeholder=" ">
                        <div class="cut-short"></div>
                        <label class="placeholder" for="firstnameKid3">Prénom</label>
                    </div>
                    <div class="form-userInscription">
                        <label for="birthdayKid3">Né(e) le</label>
                        <input class="input-inscription" type="date" id="birthdayKid" name="birthdayKid3"
                               pattern="(0[1-9]|1[0-9]|2[0-9]|3[01]).(0[1-9]|1[012]).[0-9]{4}">
                    </div>
                    <div class="form-userInscription">
                        <textarea class="input-inscription" id="commentKid3" name="commentKid3" placeholder=" "
                                  rows="3"></textarea>
                        <div class="cut-large"></div>
                        <label class="placeholder" for="commentKid3">Allergies / Choses à savoir</label>
                    </div>
            </div>

            <div class="form-userInscription">
                <label for=""><input type="checkbox" required> En soumettant ce formulaire, j'accepte que les
                    informations
                    saisies soient
                    exploitées dans le cadre de la demande et de la relation commerciale qui peut en découler.</label>


            </div>
            <div class="form-userInscription submit">
                <button type="submit" name="submit" id="submitUserInscription"> Bienvenue</button>
            </div>
        </div>

    </form>
    </body>
{% endblock %}

{% block javascript %}
{{ parent() }}
<script type="text/javascript">
    function afficherMasquer(id) {
        if (document.getElementById(id).style.display === "none")
            document.getElementById(id).style.display = "block";
        else
            document.getElementById(id).style.display = "none";
    }
            // Wrap every letter in a span
    let textWrapper = document.querySelector('.ml6 .letters');
    textWrapper.innerHTML = textWrapper.textContent.replace(/\S/g, "<span class='letter'>$&</span>");

    anime.timeline({loop: true})
        .add({
            targets: '.ml6 .letter',
            translateY: ["1.2em", 0],
            translateZ: 0,
            duration: 750,
            delay: (el, i) => 50 * i
        }).add({
        targets: '.ml6',
        opacity: 0,
        duration: 1000,
        easing: "easeOutExpo",
        delay: 1000
    });
</script>
{% endblock %}
